		{% extends "basebs.html" %}
		{% block title %}Home{% endblock %}
		{% block head %}
		    {{ super() }}
		{% endblock %}
		{% block content %}
		    <div class='jumbotron'><h1 style='text-align:center'>CPaste</h1>
		    </div><div class='container-fluid' style='text-align:center'>
		      <p>Paste:</p>
		      <form action='/paste' method='post'>
		      <input type='text' name='pname' class='form-control' placeholder='Paste Name...'/><br>
		      <textarea style='height:500px' name='pcontent' placeholder='Paste here...' class='form-control'></textarea>
		      <br>
		      <label>Language</label>:
		      <select>
		  <option value="none">No Highlighting</option>
		  <option value="javascript">Javascript</option>
		  <option value="java">Java</option>
		  <option value="c">C</option>
		  <option value="PHP">PHP</option>
		  <option value="css">CSS</option>
		  <option value="markup">Markup/HTML</option>
		  <option value="ruby">Ruby</option>
		  <option value="bash">Bash</option>
		  <option value="groovy">Groovy</option>
		  <option value="python">Python</option>
		  <option value="c++">C++</option>
		  <option value="C#">C#</option>
		  <option value="sass">Sass (Scss)</option>
		  <option value="sql">SQL</option>
		  <option value="go">GO</option>
		  <option value="C-like">Other (C-like)</option>

		</select>
		<br>
		      <br>
		      <input type='submit' name='send' value='Paste' class='form-control' />
		      </form>
		    </div>
		{% endblock %}
		{% block footer %}
			<div id='footer' style='padding-top:4%'>
				&copy; Copyright 2014 by <a href='//cydrobolt.com'>Cydrobolt</a>
			</div>
		{% endblock %}