{% extends "basebs.html" %}
{% block title %}Paste{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<script src='../static/prism.js'></script>
<div class='jumbotron'>
    <h2 style='text-align:center;color:orange'><a href='/'>CPaste Beta</a></h2>
</div>
    <div style='text-align:center'>
      <h2>{{pname}}</h2><br><p class='text-muted'>Created on {{pdate}}</p><br>
  </div><div>

      
{% if plang == "none" %}
<pre><code style='color:black'>{{ pcontent }}</code></pre>
{% else %}
<pre><code class='language-{{ plang }}'>{{ pcontent }}</code></pre>
{% endif %}
      <hr>
    </div>
{% endblock %}
{% block footer %}
	<div id='footer'>
		&copy; Copyright 2014 by <a href='//cydrobolt.com'>Cydrobolt</a>
	</div>
{% endblock %}
